asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
Django==4.2.4
filelock==3.12.2
idna==3.4
jmespath==1.0.1
Pillow==10.0.0
pipenv==2023.7.23
platformdirs==3.10.0
pygame==2.5.1
requests==2.31.0
sqlparse==0.4.4
stripe==6.1.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.2
virtualenv-clone==0.5.7
